@font-face {
    font-family: 'Li Byomgraphy Koushali Unicode';
    src: url('LiByomgraphyKoushaliUnicode.woff2') format('woff2'),
        url('LiByomgraphyKoushaliUnicode.woff') format('woff'),
        url('LiByomgraphyKoushaliUnicode.svg#LiByomgraphyKoushaliUnicode') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

